.nav{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    top: 0;
    z-index: 15;
}
.navContainer{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.mainLogoNavbar{
    width: 250px;
    height: auto;
}
.navbarLinks{
    display: flex;
    align-items: center;
}
.menuNavbar{
    display: flex;
    list-style: none;
}
.menuNavbar li{
    margin-left: 20px;
}

.socialMidia{
    list-style: none;
    height: 100%;
    display: flex;
}

.socialMidia li{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

    width: 20px;
}

.menuNavbar li a p{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
.hambMenu{
    display: none;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: green;
    position: relative;
    margin-left: 20px;
}

@media screen and (min-width:0px) and (max-width: 1024px) {
    .menuNavbar{
        display: none;
    }
    .hambMenu{
        display: flex;
    } 
}