.nav{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    top: 0;
    z-index: 15;
}
.navContainer{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.mainLogoNavbar{
    width: 250px;
    height: auto;
}
.navbarLinks{
    display: flex;
    align-items: center;
}
.menuNavbar{
    display: flex;
    list-style: none;
}
.menuNavbar li{
    margin-left: 40px;
}

.socialMidia{
    list-style: none;
    height: 100%;
    display: flex;
    margin-left: 20px;
}

.socialMidia li{
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    transition: all 500ms;
    width: 20px;
}
.socialMidia li:hover{
    opacity: 0.7;
}

.menuNavbar li a p{
    transition: all 500ms;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.menuNavbar li a p:hover{
    color: var(--suportColor)!important;
}
.modal{
    width: 100vw;
    height: 100vh;
    z-index: 3;
    overflow: hidden;
    position: absolute;
    background-color: var(--mainColor);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hambMenu{
    display: none;
    width: 50px;
    height: 35px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 10px;
}
.hambMenuContainer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.hambMenuContainer div{
    background-color: white;
    border-radius: 30px;
    width: 100%;
    transition: all 500ms ease-in-out;
    height: 5px;
}

.hambMenuContainer div:nth-child(2){
    width: 60%;
}

.hambMenuContainer:hover div{
    background-color: var(--suportColor);
    transition: all 500ms ease-in-out;
}

.hambMenuContainer:hover div:nth-child(2){
    width: 100%;
}


.modalContainer{
    margin-top: 300px;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.modalLinks{
    width: 100%;
    flex-direction: column;
    display: flex;
    height: 100%;
    overflow-y: scroll;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hidden;

}

.modalLinks ul{
    list-style: none;
}

.modalLinks ul li{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.ModalsocialMidia{
    display: flex;
    height: 80px!important;
}

@media screen and (min-width:0px) and (max-width: 1024px) {
    .menuNavbar{
        display: none;
    }
    .hambMenu{
        display: flex;
    } 
}


@media screen and (min-width: 0px) and (max-width: 450px){
    
    .mainLogoNavbar{
        width: 60vw;
        height: auto;
    }


    .navContainer{
        width: 95%;
        display: flex;
        align-items:center;
        justify-content: space-between;
    }
    .socialMidia{
        display: none;
    }
    .navbarLinks{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}