.link{
    width: auto;
    min-width: 135px;
    height: 45px;
    cursor: pointer;
}
.banner{
    width: auto;
    min-width: 135px;
    cursor: pointer;
    height: 45px;
    outline: none;
    background-color: var(--suportColor);
    border: 2px solid var(--suportColor);
    border-radius: 30px;
    transition: all 500ms ease-in-out;
}

.banner:hover{
    background-color:var(--mainColor);
    border: 2px solid var(--mainColor);
    transition: all 500ms ease-in-out;
}

.banner p{
    font-weight: normal;
    color: white;
    font-size: 20px;
}


@media screen and (min-width: 0px) and (max-width: 500px){
    .banner{
        width: 115px;
    }
    .banner p{
        font-weight: 700;
        color: white;
        font-size: 15px;
    }

}