.link{
    width: 135px;
    display: flex;
    height: 45px;
    cursor: pointer;
}
.banner{
    width: 135px;
    height: 45px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    transition: all 500ms ease-in-out;
    border-radius: 30px;
}

.banner:hover{
    border: 2px solid var(--mainColor);
    transition: all 500ms ease-in-out;
}

.banner p{
    font-weight: normal;
    color: white;
    font-size: 20px;
}



@media screen and (min-width: 0px) and (max-width: 500px){
    .banner{
        width: 115px;
        height: 45px;
        cursor: pointer;
        background-color: transparent;
        outline: none;
        border: 2px solid white;
        border-radius: 30px;
    }

    .banner p{
        font-weight: 700;
        color: white;
        font-size: 15px;
    }
    
}