.Convert{
    min-height: 500px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;justify-content: center;
    width: 100%;
}
.ConvertContainer{
    width: 90%;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.filter{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 101%;
    height: 101%;
    z-index: 1;
    filter: grayscale(31%) sepia(28%) blur(2px) brightness(22%) saturate(166%) contrast(102%);
    -webkit-filter: grayscale(31%) sepia(28%) blur(2px) brightness(22%) saturate(166%) contrast(102%);
    -moz-filter: grayscale(31%) sepia(28%) blur(1px) brightness(22%) saturate(166%) contrast(102%);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--mainColor);
    background-position: center;
}


.TitleContainer{
    text-align: center;
    flex-direction: column;
    display: flex;
}

.TitleContainer p{
    font-size: 32px;
    color: var(--suportColor);
}
.TitleContainer h5{
    color: white;
    font-weight: normal;
    font-size: var(--titleSize);
}

.TitleContainer h5 strong{
    font-weight: bold;
}

.buttonArea{
    flex-direction: column;
    display: flex;
    color: white;
}

.buttonArea button{
    width: 180px;
    cursor: pointer;
    background-color: var(--suportColor);
    padding: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    border:none;
    outline: none;
    font-size: 22px;
    font-weight: normal;
    color: white;
    transition: all 500ms ease-in-out;
}

.buttonArea button:hover{
    transition: all 500ms ease-in-out;
    background-color: var(--mainColor);
}

.buttonArea button pre{
    font-size: 18px;
}

.TenhoUmDuvida{
    font-size: 16px;
    margin-top: 20px;
}

.TenhoUmDuvida:hover{
    color: var(--suportColor);
}

.ConvertDescription{
    color: white;
    font-size: 22px;
    margin-top: 20px;
    font-weight: normal;
    margin-bottom: 30px;
}

.ConvertDescription strong{
    color: var(--suportColor);
}


@media screen and (min-width:0px) and (max-width: 500px){
    .TitleContainer h5{
        color: white;
        transform: scale(1.1);
        font-size: 30px!important;
        font-weight: normal;
        font-size: var(--titleSize);
    }
    
    .TitleContainer h5 strong{
        font-weight: bold;
        font-size: 30px;
    }

    .TitleContainer p{
        line-height: 10%;
        font-size: 16px;
        color: var(--suportColor);
    }

    .ConvertDescription strong{
        font-size: 20px;
    }
}