.mainCard{
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    min-height: 320px;
}


.HeaderCard{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.DescriptionCard{
    margin-top: 20px;
    height: 65px;
    font-size: 18px;
    margin-bottom: 20px;
}

@media screen and (max-width: 400px){
    .mainCard{
        transform: scale(0.9);
        min-height: unset;
    }
}