.banner{
    width: 100%;
    height: 100vh;
    max-height: 800px;  
    display: flex;
    overflow: hidden;
    align-items: center;
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.Content{
   align-items: center;
   flex-direction: column;
   justify-content: center;
   display: flex;
   z-index: 2;
}

.ContentP{
    color: white;
    max-width: 520px;
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
}

.buttonArea{
    width: 90%;
    max-width: 350px;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.BackgroundFilter{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 101%;
    height: 101%;
    z-index: 1;
    filter: grayscale(31%) sepia(28%) blur(1px) brightness(22%) saturate(166%) contrast(102%);
    -webkit-filter: grayscale(31%) sepia(28%) blur(1px) brightness(22%) saturate(166%) contrast(102%);
    -moz-filter: grayscale(31%) sepia(28%) blur(1px) brightness(22%) saturate(166%) contrast(102%);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--mainColor);
    background-position: center;
   
}
.banner h1{
    color: white;
    font-size: 70px;
    font-weight: normal;
}

.banner h1 strong{
    font-weight: bold;
}

.banner h1 span{
    color: var(--suportColor);
    font-size: 32px;
}


@media screen and (max-width: 1500px){
    .banner h1{
        color: white;
        font-size: 70px;
        font-weight: normal;
    }
    
    .banner h1 strong{
        font-weight: bold;
    }
    
    .banner h1 span{
        color: var(--suportColor);
        font-size: 32px;
    }   
}



@media screen and (min-width: 1024px) and (max-width:1500px){
    .banner h1{
        color: white;
        font-size: 5vw;
        font-weight: normal;
    }
    
    .banner h1 strong{
        font-weight: bold;
    }
    
    .banner h1 span{
        color: var(--suportColor);
        font-size: 3vw;
    }   
}

@media screen and (min-width: 850px) and (max-width: 1024px){
    .banner{
        width: 100%;
        height: unset;
        min-height: 600px;
    }
    .banner h1{
        color: white;
        font-size: 5vw;
        font-weight: normal;
    }
    
    .banner h1 strong{
        font-weight: bold;
    }
    
    .banner h1 span{
        color: var(--suportColor);
        font-size: 32px;
    }  
}

@media screen and (min-width: 550px) and (max-width: 850px){
    .banner{
        width: 100%;
        height: unset;
        min-height: 600px;
    }
    .banner h1{
        color: white;
        font-size: 5vw;
        font-weight: normal;
    }
    
    .banner h1 strong{
        font-weight: bold;
    }
    
    .banner h1 span{
        color: var(--suportColor);
        font-size: 32px;
    }  
}

@media screen and (min-width: 0px) and (max-width: 550px){
    .banner{
        width: 100%;
        height: unset;
        min-height: 600px;
    }
    .banner h1{
        color: white;
        white-space: break-spaces;
        font-size: 7vw;
        font-weight: normal;
    }
    
    .banner h1 strong{
        font-weight: bold;
    }
    
    .banner h1 span{
        color: var(--suportColor);
        font-size: 5vw;
    }  

    .ContentP{
        width: 90%;
        color: white;
        max-width: 520px;
        margin-top: 20px;
        font-size: 5vw;
        text-align: center;
    }
    .buttonArea{
        width: 70vw;
        max-width: 350px;
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
    }

}

@media screen and (min-width: 0px) and (max-width: 350px){
    .banner{
        width: 100%;
        height: unset;
        min-height: 600px;
    }
    .banner h1{
        color: white;
        white-space: break-spaces;
        font-size: 8vw;
        font-weight: normal;
    }
    
    .banner h1 strong{
        font-weight: bold;
    }

    .banner h1 span{
        color: var(--suportColor);
        font-size: 5vw;
    }  
    .ContentP{
        width: 90%;
        color: white;
        max-width: 520px;
        margin-top: 20px;
        font-size: 5vw;
        text-align: center;
    }
    .buttonArea{
        width: 85vw;
        max-width: 350px;
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
    }
}




