.banner{
    width: 100%;
    height: 100vh;
    min-height: 700px;
    max-height: 800px;  
    display: flex;
    overflow: hidden;
    align-items: center;
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.Content{
   align-items: center;
   flex-direction: column;
   justify-content: center;
   display: flex;
   z-index: 2;
}

.ContentP{
    color: white;
    max-width: 520px;
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
}
.ContentP span{
    color: var(--suportColor);
}

.buttonArea{
    width: 90%;
    max-width: 350px;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.BackgroundFilter{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 101%;
    height: 101%;
    z-index: 1;
    filter: grayscale(31%) sepia(28%) blur(1px) brightness(22%) saturate(166%) contrast(102%);
    -webkit-filter: grayscale(31%) sepia(28%) blur(1px) brightness(22%) saturate(166%) contrast(102%);
    -moz-filter: grayscale(31%) sepia(28%) blur(1px) brightness(22%) saturate(166%) contrast(102%);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--mainColor);
    background-position: center;
   
}
.banner h1{
    color: white;
    font-size: var(--titleSize);
    font-weight: normal;
}

.banner h1 strong{
    font-weight: bold;
}

.banner h1 span{
    color: var(--suportColor);
    font-size: 32px;
}

.preTitle{
    color: white;
    margin-bottom: 10px;
    max-width: 100%;
    text-align: center;
    font-size: 22px;

}

.preTitle strong{
    color: var(--suportColor);
}

.buttonAreaWhatsapp{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: flex;

}
.whatsappbanner{
    width: 160px;
    border: none;
    outline: none;
    display: flex;
    height: 45px;
    border-radius: 30px;
    align-items: center;
    color:white;
    font-size: 22px;
    font-weight: normal;
    cursor: pointer;
    padding: 10px 20px;
    justify-content: space-evenly;
    background-color: var(--suportColor);
    transition: all 500ms;

}

.whatsappbanner:hover{
    background-color: var(--mainColor);
}


.whatsappbanner p{
    margin-right: 10px;
}


.bannerquemSomos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ContentQuemSomos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}






@media screen and (max-width: 1500px){
    .banner h1{
        color: white;
        font-size: 70px;
        font-weight: normal;
    }
    
    .banner h1 strong{
        font-weight: bold;
    }
    
    .banner h1 span{
        color: var(--suportColor);
        font-size: 32px;
    }   
}



@media screen and (min-width: 1024px) and (max-width:1500px){
    .banner h1{
        color: white;
        font-size: 5vw;
        font-weight: normal;
    }
    
    .banner h1 strong{
        font-weight: bold;
    }
    
    .banner h1 span{
        color: var(--suportColor);
        font-size: 3vw;
    }   
}

@media screen and (min-width: 850px) and (max-width: 1024px){
    .banner{
        width: 100%;
        height: unset;
        min-height: 600px;
    }
    .banner h1{
        color: white;
        font-size: 5vw;
        font-weight: normal;
    }
    
    .banner h1 strong{
        font-weight: bold;
    }
    
    .banner h1 span{
        color: var(--suportColor);
        font-size: 32px;
    }  

    .AtuacaoTipe{
        font-size: 40px!important;
        width: 90%;
    }
}

@media screen and (min-width: 550px) and (max-width: 850px){
    .banner{
        width: 100%;
        height: unset;
        min-height: 600px;
    }
    .banner h1{
        color: white;
        font-size: 5vw;
        font-weight: normal;
    }
    
    .banner h1 strong{
        font-weight: bold;
    }
    
    .banner h1 span{
        color: var(--suportColor);
        font-size: 32px;
    }  

    .AtuacaoTipe{
        font-size: 30px!important;
        transform: scale(1.1);
        width: 90%;
    }
}

@media screen and (min-width: 0px) and (max-width: 550px){
    .banner{
        width: 100%;
        height: unset;
        min-height: 600px;
    }
    .banner h1{
        color: white;
        white-space: break-spaces;
        font-size: 7vw;
        font-weight: normal;
    }
    
    .banner h1 strong{
        font-weight: bold;
    }
    
    .banner h1 span{
        color: var(--suportColor);
        font-size: 5vw;
    }  

    .ContentP{
        width: 90%;
        color: white;
        max-width: 520px;
        margin-top: 20px;
        font-size: 5vw;
        text-align: center;
    }
    
    .buttonArea{
        width: 90%;
        max-width: 300px;
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
    }
    .AtuacaoTipe{
        font-size: 25px!important;
        margin-top: 10px;
        transform: scale(1.1);
        width: 90%;
    }

}

@media screen and (min-width: 0px) and (max-width: 350px){
    .banner{
        width: 100%;
        height: unset;
        min-height: 600px;
    }
    .banner h1{
        color: white;
        white-space: break-spaces;
        font-size: 8vw;
        font-weight: normal;
    }
    
    .banner h1 strong{
        font-weight: bold;
    }

    .banner h1 span{
        color: var(--suportColor);
        font-size: 5vw;
    }  
    .ContentP{
        width: 90%;
        color: white;
        max-width: 520px;
        margin-top: 20px;
        font-size: 5vw;
        text-align: center;
    }
    .ContentP span{
        color: var(--suportColor);
    }
    .buttonArea{
        align-items: center;
        width: 90%;
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
    }
}




